:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #fff;
  color: #000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

button {
  max-width: fit-content;
  border-radius: 8px;
  padding: 8px;
  font-weight: 500;
  font-size: 16px;
  font-family: inherit;
  color: #fff;
  border: 1px solid #07125c;
  background-color: #07125c;
  cursor: pointer;
  transition: scale 250ms ease-in-out;
}
button:hover {
  transform: scale(1.1);
}
button:focus,
button:focus-visible {
  transform: scale(1.08);
}
